# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Ignore virtual environment
venv/

# Ignore Python cache
__pycache__/

# Ignore IDE settings
.vscode/
.idea/

# Ignore environment variables
.env

# Ignore build and log files
*.log

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
